<form action="/bookmarks" method="post">
    <div>
        <h3>Edit your bookmarks:</h3>
    </div> 
    <div>
        <textarea cols="100" id="" name="edit_content" rows="30">
            <%= @content %>
        </textarea>
    </div>
    <div>
        <button type="submit">Save Change</button>
    </div>
</form>
