<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Read it later</title>
        <link href="/bookmark.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Take your times to read these good articles</h1>
        <%== yield %>
        <form  action="/bookmarks/delete/all" method="post">
            <button id="danger" type="submit"> Delete ALL!</button>
        </form>
    </body>
</html>
