<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Read it later</title>
        <link href="/bookmark.css" rel="stylesheet"/>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
